:root {
    --color1: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: rgba(10, 10, 10, 0.822);
    color: var(--color1);
}

p {
    margin: 20px;
}

nav {
    height: 100px;
    width: 100%;
    background: rgb(82, 78, 78);
}

nav ul {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

li {
    list-style-type: none;
}

li a {
    color: var(--color1);
}

h1 {
    margin: 20px;
    color: var(--color1);
    text-decoration: underline;
}

.rassim222 {
    display: flex;
    align-items: center;
}

.rassim222 img
{
    width: 350px;
    height: 200%;
}
h2  {
    color: var(--color1);
    text-decoration: underline;
}
 .main-txt {
    margin: 40px;
    color: var(--color1);
 }

 .main-txt a {
    color: grey;
 }

 .txt-container {
    width: 100%;
    display: flex;
 }

 .txt-container p {
    margin: 20px;
    color: var(--color1);
 }

 .para img {
    height: 150px;
    width: 150px;
 }